* {
  font-family: courier;
  background-color: rgb(23, 24, 16);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100vh;
  gap: .5em;
  font-size: 2rem;
}

.main-child a {
  text-decoration: none;
  color: #3e863d;
}

.src-code a {
  color: #3e863d;
}

.get-items-button a{
  color: #3e863d;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .container{
    font-size: 1rem;
  }
}