* {
  font-family: courier;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(23, 24, 16);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-child a {
  text-decoration: none;
  color: #3e863d;
}

.src-code a {
  color: #3e863d;
}
